<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoyu.liangcangprogram">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shopping.activity.PinPaiDetialShowActivity" />
        <activity android:name=".shopping.activity.WebShowInfoActivity" />
        <activity android:name=".daren.DaRenShowDetialsActivity" />
        <activity android:name=".daren.activity.DaRenShowDetialsOtherActivity" />
        <activity android:name=".daren.activity.ShowGoodsInfoActivity" />
        <activity android:name=".daren.activity.ShowGoodsInfotwoActivity" />
        <activity
            android:name=".magazine.activity.showTopActivity"
            android:theme="@style/Theme.Swipe.Back" />
        <activity android:name=".shoppingcart.ShoppingCartForGoods"></activity>
    </application>

</manifest>